@import url('https://fonts.googleapis.com/css?family=Abel|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');


html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #D6ADFB !important;
    margin-bottom: 300px;
    opacity: 1;
    transition: 1s opacity;
    min-width: 100%;
}

.changeNavColor {
  background-color: #22252A !important;
}

#about_title {
  font-family: 'Permanent Marker', cursive;
}

#about_bg {
  background-color: #22252A !important;
}

#member_bg {
  background-color: #22252A !important;
}

#members_title {
  font-family: 'Permanent Marker', cursive;
}

#repertoire_title {
  font-family: 'Permanent Marker', cursive;
}

#repertoire_bg {
  background-color: #22252A !important;
}

p {
    font-family: 'Quicksand', sans-serif;
}

.nav-link {
    font-family: 'Quicksand', sans-serif;
}

div {
    font-family: 'Quicksand', sans-serif;

}

.undernav {
    margin-top: 50px;
}

.lower_container {
  margin-top: 4%;
}

.members_lowest_container {
  margin-top: 30px;
  margin-bottom: 12%;
}

.memberCard {
    background-color: #E2D2F7 !important;
    color: white;
}

.footer {
  background-color: #22252A !important;
  z-index: 0;
  position: absolute;
  bottom: 0 !important;
  width: 100%;
  height: 5%; /* Set the fixed height of the footer here */
  line-height: 1%; /* Vertically center the text there */
}

.container {
  display: block;
  margin: 10%;
}

.social_img {
    max-width: 100%;
    height: 90%;
    transition: transform 1s, outline 1s linear;
    outline: solid 1px #22252A;
    margin: 0.5em;
    padding: 3em;
}

.social_img:hover {
    transform: scale(1.1, 1.1);
    outline-width: 1px;
    outline-color: #D6ADFB;
}

.social_link:link {
    text-decoration: none;
}

.social_link:hover {
    text-decoration: none;
}

.social_link {
  margin-top: 1%;
}

#designer {
    color: black;
}

#designer:hover {
    color: #E2D2F7;
}

body.faded {
    opacity: 0;
    transition: none;
}

.nav {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  background-color: transparent;
}

.banner {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: -1;
  position: absolute;
  left: 0px;
  top: 0px;

}
.scroll_banner {
  width: 20%;
  height: 20%;
}

.unscroll_banner {
  width: 50%;
  height: 50%;
}

 .banner_overlay {
  position: absolute;
  z-index: 1;
  left: 0px;
  bottom: 200px;
}

.below_banner {
  position: relative;
  left: 0px;
  top: 850px;
}

#featured {
  top: 10%;
}

#promo_msg {
  font-size: 2.75em;
  font-family: 'Quicksand', sans-serif;
}

.album-btn {
  background-color: #D6ADFB;
}

.album-btn:hover {
  background-color: #CAADFB;
}

#promo_close_btn {
  position: relative;
  top: -10%;
  right: 1%;
}

#news_title {
  font-family: 'Permanent Marker', cursive;
}
 
.logo {
  transition: transform 2s;
}

.logo:hover {
  transform: rotateY(360deg);
}

